
h1{
  color: #86C232;
  font-size: 100px;
}

h2{
  font-size: 40px;
  margin-top: -2em;
}

h3{
  font-size: 60px;
  color: #86C232;
}

.home-hero{
  display: flex;
  height: 100vh;
  width: 98vw;
  background-image: url('src/assets/home.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.homecontent{
  margin-left: 60em;
}

.market-hero{
  display: flex;
  height: 100vh;
  width: 98vw;
  background-image: url('src/assets/markethero.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

.buy-hero{
  display: flex;
  height: 100vh;
  width: 98vw;
  
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

.ticket{
  width: 70em;
  height: 30em;
  background-image: url("src/assets/ticket.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

label{
  color: white;
}

input{
  width: 70%;
}
/*--------------------------------------------------------------------------------------------*/
