:root {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-weight: 600;
  color-scheme: light dark;
  color: aliceblue;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: black;
}